<!doctype html>
<html>
  <head>
    <title>Pocus Tower</title>
    <meta charset="utf-8" />
    <style type="text/css">
      body {
        text-align: center;
        min-width: 500px;
      }
    </style>
    <script type="text/javascript" src="//code.jquery.com/jquery-2.1.4.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/3.0.1/socket.io.min.js"></script>
 
  </head>
 
  <body>
    <h1><span id="tower_name"></span> Pocus Tower </h1>
    <h1><span id="win"></span></h1>
    <h1><span id="lost"></span></h1>

    <h3>Tower Health: <span id="health"></span></h3>
    <h3>Tower Shield: <span id="shield"></span></h3>

    <h3>Opponent Tower Health: <span id="opp_health"></span></h3>

    <button onClick="Attack()">Attack</button>
    <button onClick="Defend()">Defend</button>

  

    <h3>Defender Name:  <span id="user_name" >{{ nickname }}</span></h3>


    <script>
    const socket = io("http://localhost:999");

    socket.on('connect', function (msg){
        if(msg){
          console.log(msg);
          var obj = JSON.parse(msg);
          console.log(obj);
          $('#tower_name').empty();
          $('#health').empty();
          $('#opp_health').empty();
          $('#shield').empty();
          $('#tower_name').append(obj.tower_name);
          $('#health').append(obj.health);
          $('#opp_health').append(obj.opponent_health);
          $('#shield').append(obj.shield);
          }
    });

    socket.on('disconnect', function (msg){
        if(msg){
          console.log(msg);
          var obj = JSON.parse(msg);
          console.log(obj);
          $('#health').empty();
          $('#health').append(obj.health);
          }
    });



    socket.on('shield', function(msg){
      console.log("Shield");
      var obj = JSON.parse(msg);
      console.log(obj);
      $('#shield').empty();
      $('#shield').append(obj.shield);
    });


    socket.on('opp_health', function(msg){
      console.log("OPP HEALTH");
      var obj = JSON.parse(msg);
      console.log(obj);
      $('#opp_health').empty();
      $('#opp_health').append(obj.health);
    });

    socket.on('health', function(msg){
      console.log("RECEIVE ATTACK FROM OPP TOWERS");
      var obj = JSON.parse(msg);
      console.log(obj);
      $('#health').empty();
      $('#health').append(obj.health);
    });
    


    socket.on("win", function(msg){
      $('#shield').empty();
      $('#health').empty();
      $('#opp_health').empty();
      $('#win').append(msg);
    });
    socket.on("lost", function(msg){
      $('#shield').empty();
      $('#health').empty();
      $('#opp_health').empty();
      $('#lost').append(msg);
    });




    function Attack(){
        console.log("Attack FE");
        var nickname = $('#user_name').html();
        var tower    = $('#tower_name').html();
        socket.emit('attack', {"nickname": nickname, "tower": tower});
    }


    function Defend(){
        var nickname = $('#user_name').html();
        var tower    = $('#tower_name').html();
        socket.emit('defend', {"nickname": nickname, "tower": tower});
      }


    </script>


  </body>
</html>